<!DOCTYPE html>

<html lang = "en-US">
<meta charset = "UTF-8">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title> My Notifications </title>

    <!-- Links the .css file -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/notifications.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>

<body>
    
    <div class = "container-fluid">

        <!-- Credit for navbar: https://getbootstrap.com/docs/4.1/components/navbar/-->
        <nav class = "navbar navbar-expand-md navbar-light fixed-top" id = "header">
            <ul class = "navbar-nav w-100 justify-content-between">
                <li class = "nav-item dropdown">
                    <a class = "nav-link dropdown-toggle" id = "menubutton" role = "button" data-toggle = "dropdown" aria-haspopup = "true" aria-expanded = "false"> Menu </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class = "dropdown-item" href = "admin_organization.html"> Organizations </a>
                        <a class = "dropdown-item" href = "admin_notifications.html"> Notifications </a>
                        <a class = "dropdown-item" href = "admin_generate_report.html"> Generate Reports </a>
                        <a class = "dropdown-item" href = "admin_view_issues.html"> Issues </a>
                        <a class = "dropdown-item" href = "index.html"> Logout </a>
                    </div>
                </li>

                <li class = "nav-item active">
                    <a class = "nav-link" href = "admin_dash.html" id = "title"> Good Driver Incentive Program </a>
                </li>

                <a class = "navbar-brand" href = "{% url 'adminProfile'%}">
                    <img src = "Defaultpfp.png" width = "30" height = "30">
                </a>
            </ul>
        </nav>


        <div class = "row text-center">
            <div class = "col-md-12">
                <h2 id = "pagename" style = "margin-bottom: 5%;"> Notifications </h2>
            </div>
        </div>

        <div class = "row">
            <div class = "col-md-3"></div>

            <div class = "col-md-6">
                <!-- Template for a notification, if there is a better way then go for it
                <div class = "notification">
                    <button class = "deletenotification"> <i class = "fa fa-window-close"></i> </button>
                    <h3> Notification Subject </h2>
                    <h5> Notification Details </h4>    
                </div> -->
                
            </div>


            <div class = "col-md-3"></div>
        </div>

    </div>


</body>

</html>