<!DOCTYPE html>

<html lang = "en-US">
<meta charset = "UTF-8">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title> Good Driver Incentive Program </title>

    <!-- Links the .css file -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset_password.css'%}">

</head>

<body>
    
    <div class = "container-fluid">
        <div class = "row">
            <div class = "col-md-12">
                <div id = "header">
                    <p id = "title"> Good Driver Incentive Program </p>
                </div>
            </div>
        </div>

        <div class = "row text-center">
            <div class = "col-md-12">
                <br> <h2> Reset Your Password </h2> <br>
            </div>
        </div>
    
        <div class = "row text-center">
            <form method = "POST" action "{% url 'changepass'%}">
            {% csrf_token %}
            <div class = "col-md-12">
                <input type = "email" class = "reset" id = "email" maxlength = "100" name="email" placeholder = "Email" required> <br> <br>
                <h6 style = "margin-left: -2%;"> *Passwords should be at least 8 characters long and</h6>
                <h6 style = "margin-left: -2%;">contain an uppercase letter, lowercase letter, special</h6>
                <h6 style = "margin-left: -15.5%;"> character, and a digit </h6>
                <input type = "password" class = "reset" id = "newpassword" maxlength = "100" name="password" placeholder = "New Password" required> <br> <br>
                <input type = "password" class = "reset" id = "confirmpassword" maxlength = "100" name="cpassword" placeholder = "Confirm Password" required> <br> <br>

                <button id = "submit"> Submit </button>
            </div>
            </form>
        </div>
        

    </div>

</body>

</html>