<!DOCTYPE html>

<html lang="en-US">
<meta charset="UTF-8">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <title> Reports </title>

    <!-- Links the .css file -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/sponsor_generate_report.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>

<body>

    <div class="container-fluid">

        <!-- Credit for navbar: https://getbootstrap.com/docs/4.1/components/navbar/-->
        <nav class="navbar navbar-expand-md navbar-light fixed-top" id="header">
            <ul class="navbar-nav w-100 justify-content-between">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="menubutton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Menu </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'orgPage' %}"> Organization Page </a>
                        <a class="dropdown-item" href="/sponsor_view_drivers"> Driver List </a>
                        <a class="dropdown-item" href="/sponsor_application_list">Application List</a>
                        <a class="dropdown-item" href="{%url 'sponsorCatalog' %}"> Catalog </a>
                        <!-- <a class="dropdown-item" href="sponsor_notifications.html"> Notifications </a> -->
                        <a class="dropdown-item" href="{% url 'sponsorReportGeneration'%}"> Generate Report </a>
                        <!-- <a class="dropdown-item" href="sponsor_submit_issue.html"> Submit an Issue </a>
                        <a class="dropdown-item" href="sponsor_view_issues.html"> Issues </a> -->
                        <a class="dropdown-item" href="{% url 'logout' %}"> Logout </a>
                    </div>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'sponsorDashDisplay' %}" id="title"> Good Driver Incentive Program </a>
                </li>

                <a class="navbar-brand" href="{% url 'sponsorProfile'%}">
                    <img src="{% static pic %}" width="30" height="30">
                </a>
            </ul>
        </nav>

        <div class="row">
            <div class="col-md-3 text-left">
                <div id="sidebar">
                    <h2 class="text-center" style="margin-top: 2%; margin-bottom: 3%;"> Generate Report</h2>
                    <h3 class="text-center" style="margin-bottom: 5%;"> Driver Point Tracking </h3>

                    <h4> Select Driver(s) </h4>
                    <!-- Source: https://stackoverflow.com/questions/50895806/bootstrap-4-multiselect-dropdown/50897096 -->
                    <form method="Post" action="{% url 'getSponsorReport'%}">
                        {% csrf_token %}
                        <select id="drivers" name="driver" class="selectpicker">
                            <option value = "all"> All Drivers </option>

                            {% for driver in orgDrivers %}
                                <option value = {{driver.id}}>{{driver.name}}</option>
                            {% endfor %}
                        </select>

                        <h4> Start Date </h4>
                        <input type="text" id="start" name="startDate" placeholder="mm/dd/yy" maxlength="8">
                        <h4> End Date </h4>
                        <input type="text" id="end" name="endDate" placeholder="mm/dd/yy" maxlength="8">

                        <button id="generate" name="generate"> Generate Report </button>
                        <button id="download" name="download"> Download Report <i class = "fa fa-download"></i> </button>
                    </form>
                </div>
            </div>

            <div class="col-md-9" id="preview">
                <p>Date Range: {{startDate}} - {{endDate}}</p>
                {% for driver, points, changes in drivers %}
                <p>Driver: {{driver}} Total Points: {{points}}</p>
                <p>Point Changes</p>
                <table width="70%">
                    <col style="width:20%">
                    <col style="width:35%">
                    <col style="width:30%">
                    <col style="width:50%">
                    <tr>
                        <td>Date</td>
                        <td>Change Amount</td>
                        <td>Sponsor Responsible</td>
                        <td>Reasoning</td>
                    </tr>
                </table>
                {% for change in changes %}
                <table width="70%">
                    <col style="width:20%">
                    <col style="width:35%">
                    <col style="width:30%">
                    <col style="width:50%">
                    <tr>
                        <td>{{change.date}}</td>
                        <td>{{change.pointChange}}</td>
                        <td>{{change.sponsor}}</td>
                        <td>{{change.reason}}</td>
                    </tr>
                </table>
                {% endfor %}
                <br> {% endfor %}

            </div>
        </div>

    </div>


</body>

</html>