/* Source for box shadows: https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_styles */

/* Full-height columns: https://codepen.io/danield770/pen/eWBXoY?editors=1100 */
html, body{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    background-color: #2a2a2e;
}

body{
    padding-top: 60px;
}

#header{
    background-color: #ACEFFF;
}

#title{
    font-size: 110%;

}

#menubutton{
    color: black;

}

.col-md-3{
    height: 100%;
    background-color: white;
    border-right-style: solid;
    border-right-color: #7070707e;
    position: fixed;
    background-color: #2a2a2e;
}

.col-md-9{
    margin-left: 24.5%;
}

.dropdown-menu{
    background-color: #38383d;
}

.dropdown-item{
    color: white;
}

#pagename{
    color: white;
}
  
.sectionheader{
    font-size: 150%;
    left: 2%;
    color: white;
}

.settingname{
    font-size: 110%;
    position: relative;
    text-decoration: underline;
    left: 11%;
    cursor: pointer;
    color: white;
}

.settingname:hover{
    color: #ACEFFF;
}

.setting{
    font-size: 170%;
    color: white;
}

#pfpsetting{
    width: 8%;
    height: 13%;
}
  
#upload{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: fit-content;
    height: fit-content;
    padding-right: 1.5%;
    padding-left: 1.5%;
    padding-top: .1%;
    font-size: 100%;
    margin-top: 1%;
    border-radius: 30px;
    border-style: solid;
    border-color: black;
    background-color: #ACEFFF;
    cursor: pointer;
}
  
.save{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: fit-content;
    height: fit-content;
    padding-right: 1.5%;
    padding-left: 1.5%;
    padding-top: .2%;
    padding-bottom: .2%;
    font-size: 100%;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    background-color: #A1EDA7;
    cursor: pointer;
}
  
.settingtext{
    width: 25%;
    height: 4%;
    font-size: 200%;
    background-color: #38383d;
    color: white;
    border-style: solid;
    border-color: #38383d;
}
  
#addresses{
    height: 2%;
    width: 10%;
    font-size: 80%;
    margin-right: 100%;
}
  
#submit{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: fit-content;
    height: fit-content;
    padding-right: 1.5%;
    padding-left: 1.5%;
    padding-top: .2%;
    padding-bottom: .2%;
    font-size: 100%;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    background-color: #ACEFFF;
    cursor: pointer;
    margin-top: .5%;
}
  
#default{
    height: 2%;
    width: 11%;
    font-size: 80%;
}
  
.checkboxes{
    margin-left: 2%;
    cursor: pointer;
}
  
.checkboxlabels{
    font-size: 115%;
    color: white;
}
  
.adding{
    width: 60%; 
    height: 12%;
    font-size: 150%;
    margin-right: 100%;
    margin-bottom: 1%;
    margin-left: 2%;
    background-color: #38383d;
    color: white;
    border-style: solid;
    border-color: #38383d;
}
  
#submitaddress{
    width: fit-content;
    height: fit-content;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: .2%;
    padding-bottom: .2%;
    font-size: 120%;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    background-color: #A1EDA7;
    cursor: pointer;
    margin-right: 2%;
    margin-left: 4%;
    margin-bottom: 2%;
}

#addadress{
    background-color: #2a2a2e;
}

.modal-content{
    background-color: #2a2a2e;
    color: white;
}


.custom-control-label{
    color: white;
}
  