/* Source for box shadows: https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_styles */
html, body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
    background-color: #2a2a2e;
    color: white;
}

body{
    padding-top: 60px;
}

#header{
    background-color: #ACEFFF;
}

#title{
    font-size: 110%;

}

#menubutton{
    color: black;

}

.dropdown-menu{
    background-color: #38383d;
}

.dropdown-item{
    color: white;
}

#pagename{
    margin-top: 1%;
    margin-left: 10%;
    color: white;
}

.dashinfo{
    height: 100%;
    width: 45%;
    border-style: solid;
    border-color: white;
    font-size: 150%;
    color: white;
    overflow-y: auto;
    position: absolute;
    overflow: scroll;
}

#displaypoints{
    font-size: 180%;
    margin-top: .5%;
    margin-bottom: 5%;
    color: white;
}

.btn{
    background-color: #38383d;
    border-color: white;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: white;
}

#sponsorview{
    width: fit-content;
    height: fit-content;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: .1%;
    padding-bottom: .1%;
    border-radius: 30px;
    background-color: #ACEFFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 120%;
    color: black;
    cursor: pointer;
    border-style: solid;
    border-color: white;
    margin-bottom: 1%;
}

#driverview{
    width: fit-content;
    height: fit-content;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: .1%;
    padding-bottom: .1%;
    border-radius: 30px;
    background-color: #ACEFFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 120%;
    color: black;
    cursor: pointer;
    border-style: solid;
    border-color: white;
    margin-bottom: 1%;
    margin-right: 1%;
}

#adminview{
    width: fit-content;
    height: fit-content;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: .1%;
    padding-bottom: .1%;
    border-radius: 30px;
    background-color: #ACEFFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 120%;
    color: black;
    cursor: pointer;
    border-style: solid;
    border-color: white;
    margin-bottom: 1%;
    margin-right: 1%;
}

#git{
    color: white;
    font-size: 130%;
}

#git:hover{
    color: #ACEFFF;
}

#edit{
    width: fit-content;
    height: fit-content;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: .1%;
    padding-bottom: .1%;
    border-radius: 30px;
    background-color: #A1EDA7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    cursor: pointer;
    border-style: solid;
    border-color: white ;
    margin-top: 1%;
    margin-bottom: 1%;
}

#remove{
    width: fit-content;
    height: fit-content;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: .1%;
    padding-bottom: .1%;
    border-radius: 30px;
    border-color: #EDA1A1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #EDA1A1;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border-style: solid;
    border-color: white;
    cursor: pointer;
}

.editing{
    width: 80%; 
    height: 15%;
    font-size: 150%;
    margin-right: 100%;
    margin-bottom: 1%;
    margin-left: 2%;
    background-color: #38383d;
    color: white;
    border-style: solid;
    border-color: #38383d;
}

.newadmin{
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 3%;
    background-color: #38383d;
    color: white;
    border-style: solid;
    border-color: #38383d;
}

#add{
    width: fit-content;
    height: fit-content;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: .1%;
    padding-bottom: .1%;
    border-radius: 30px;
    background-color: #A1EDA7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    cursor: pointer;
    border-style: solid;
    border-color: white;
    margin-top: 1%;
    margin-bottom: 3%;
}

.form-control{
    background-color: #38383d;
    color: white;
    border-style: solid;
    border-color: #38383d;
}

.modal-content{
    background-color: #2a2a2e;
    color: white;
}
