/* Source for box shadows: https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_styles */

html, body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
}

body{
    padding-top: 60px;
}

#header{
    background-color: #ACEFFF;
}

#title{
    font-size: 110%;

}

#subject{
    height: 70%;
    width: 100%;
    font-size: 200%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#description{
    margin-top: 2%;
    width: 100%;
    height: 90%;
    font-size: 200%;
}

#submit{
    width: fit-content;
    height: fit-content;
    padding-right: 4%;
    padding-left: 4%;
    padding-top: .1%;
    padding-bottom: .1%;
    border-radius: 30px;
    border-color: black;
    border-style: solid;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #A1EDA7;
    font-size: 200%;
    color: black;
    cursor: pointer;
    margin-bottom: 1%;
    margin-right: 2%;
}

#cancel{
    width: fit-content;
    height: fit-content;
    padding-right: 4%;
    padding-left: 4%;
    padding-top: .1%;
    padding-bottom: .1%;
    border-radius: 30px;
    border-color: black;
    border-style: solid;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #EDA1A1;
    font-size: 200%;
    color: black;
    cursor: pointer;
    margin-bottom: 1%;
    margin-right: 2%;
}