/* Source for box shadows: https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_styles */
html, body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
}

body{
    padding-top: 60px;
}

#header{
    background-color: #ACEFFF;
}

#title{
    font-size: 110%;

}

#menubutton{
    color: black;

}

.deletenotification{
    float: right;
    width: fit-content;
    height: fit-content;
    border-style: none;
    background-color: white;
    font-size: 130%;
    color: black;
    cursor: pointer;
    margin-left: 95%;
}

.notification{
    border-bottom: 2px solid #7070706e;
}